{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ category }}</h2>

    {% for listing in category_items %}
        <div style="border: 1px solid black;">
            <a href="{% url 'listing' listing.id %}">
                <h1>{{ listing.title }}</h1>
            </a>
            <h2>{{ listing.description }}</h2>
            <img src="{{listing.img_url}}">
            {% if listing.bids.first  %}
                <h3>Price: ${{ listing.bids.first.amount }}</h3>
            {% else %}
                <h3>Price: ${{ listing.initial_bid }}</h3>
            {% endif %}

            {{ listing.category }}
            <br>
        </div>
    {% empty %}
        Nothing in this category
    {% endfor %}
{% endblock %}