{% extends "auctions/layout.html" %}
{% block body %}
    <h1>{{ listing.title }}</h1>
    <h2>{{ listing.description }}</h2>
    <img src="{{listing.img_url}}">
    <h3>Seller: {{ listing.user }}</h3>
    {{ listing.time }}
    {% if bid %}
        <h2>Current bid: ${{ bid.amount }} from {{ bid.time }}</h2>
    {% else %}
        <h2>Initial bid: ${{ listing.initial_bid }}</h2>
    {% endif %}


    {% if user.is_authenticated %}

        {% if request.user != listing.user %}
            <h2>Make a bid</h2>
            <form action="{% url 'listing' listing.id%}" method="POST">
                {% csrf_token %}
                {% for field in bid_form %}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="bid" value="Place a bid">
            </form>
        {%  endif %}
            <h2>Comment</h2>
            <form action="{% url 'listing' listing.id%}" method="POST">
                {% csrf_token %}
                {% for field in comment_form %}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="comment" value="Make a comment">
            </form>
            
            <h2>Add to watchlist</h2>
            <form action="{% url 'listing' listing.id%}" method="POST">
                {% csrf_token %}
                {{ watchlist_form }}

                <input type="submit" name="watchlist" value="Add to watchlist">
            </form>
    {% endif %}

{% endblock %}